<script src=""></script>
</body>
<footer class="footer py-3 bg-dark">
  <div class="container">
    <div class="d-flex">
      <p class="footer-paragraph ">Made by Guney ©</p>
    </div>
  </div>
</footer>